body {
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #000000;
}

ul,
li,
ol {
	list-style-type: none;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;

	// Header
	.header {
		.nav-title {
			font-size: 40px;
			font-family: 'Cardo';
		}
		.nav-moscow {
			text-decoration: dashed;
			font-size: 16px;
		}

		.nav-shop {
			margin-right: 724px;
			display: flex;
			align-items: center;
			img {
				margin-right: 10px;
			}
		}
		.nav-more {
			font-size: 12px;
			text-decoration: dotted;
			color: #000000;
		}
		.nav-form {
			margin-right: 171px;
		}
		.nav-search {
			width: 600px;
			outline: none;
		}
		.nav-icons {
			// display: flex;
			// align-items: center;
			// justify-content: space-between;
			margin-left: 40px;
			.nav-icons__flex {
				text-align: center;
				margin-right: 42px;
				cursor: pointer;
				transition: 0.3s ease;
				p {
					text-align: center;
					font-size: 14px;
				}
				img {
					fill: #000;
					transition: 0.3s ease;
				}
				img:hover {
					fill: #bc1414;
				}
			}
			.nav-icons__flex:hover {
				color: #bc1414;
			}
		}
		.dropdown:hover .dropdown-menu {
			display: block;
		}
		.dropdown-menu {
			margin-top: 0;
		}
	}
	// Banner
	.banner {
		background-image: url(../Images/IMAGE.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		// width: 1440px;
		height: 698px;
		position: relative;
		@media (max-width: 768px) {
			background-size: contain;
			background-position: center;
			margin-top: -150px;
			margin-bottom: -150px;
		}

		.banner__container {
			padding: 257px 317px 364px 316px;

			.banner__title {
				text-align: center;
				font-size: 27px;
				font-family: 'Roboto';
				color: #ffff;
				letter-spacing: 0.2px;
				font-weight: 700;
				@media (max-width: 768px) {
					font-size: 18px;
					margin-top: -40px;
				}
			}

			.banner__button {
				margin-left: 50%;
				transform: translate(-50%);
				width: 204px;
				height: 33px;
				background: none;
				border: 1px solid #ffffff;
				border-radius: 0px;
				transition: 0.3s ease-in-out;

				a {
					font-size: 20px;
					font-weight: 700;
					color: #ffffff;
					font-family: 'Cardo';
				}

				a:hover {
					color: #000;
				}
			}

			.banner__button:hover {
				background-color: #fff;
			}
		}

		.banner__quetion-block {
			position: absolute;
			top: 92.5%;
			left: 20px;
			width: 324px;
			height: 50px;
			background: #050505;
			border-radius: 1px 1px 0px 0px;
			@media (max-width: 768px) {
				display: none;
			}

			.banner__quetion-text {
				font-size: 15px;
				color: #ffffff;
				font-weight: 400;
				text-align: center;
				font-family: 'Palatino Linotype';
			}
		}
	}

	// Galery
	.galery {
		.galery__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@media (max-width: 768px) {
				text-align: center;
				margin-left: 6px;
			}
		}
	}

	// Discount
	.discount {
		margin-top: 50px;
		.discount-container {
			.discount-body {
				position: relative;
				margin-left: 70px;
				.discount-img__before::before {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					content: '';
					width: 600px;
					height: 396px;
					background-color: #000000;
					z-index: 100;
					opacity: 0.6;
				}
				.discount-text1 {
					position: absolute;
					left: 120px;
					top: 55px;
					text-align: center;
					z-index: 1001;
					h4 {
						text-transform: uppercase;
						color: #ffffff;
						font-size: 26px;
						span {
							font-size: 5rem;
							color: red;
						}
					}
					p {
						text-transform: uppercase;
						text-align: center;
						color: #ffffff;
						font-weight: 600;
						font-size: 26px;
						span {
							color: red;
							font-size: 4rem;
						}
					}
				}
			}
			.discount-body__right {
				position: relative;
				margin-left: 100px;
				.discount-img__after::before {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					content: '';
					width: 600px;
					height: 396px;
					background-color: #000000;
					z-index: 100;
					opacity: 0.7;
				}
				.discount-text {
					position: absolute;
					left: 35px;
					top: 55px;
					z-index: 1001;
					text-align: center;
					.discount-button__top {
						border: 1px solid #ffffff;
						background: none;
						color: #ffffff;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 16px;
						padding: 5px 10px;
					}
					p {
						color: #ffffff;
						text-transform: uppercase;
						font-weight: 600;
						line-height: 40px;
					}
					.discount-button__bottom {
						background-color: #ffffff;
						border: none;
						width: 300px;
						height: 40px;
						text-transform: uppercase;
						font-weight: 600;
					}
				}
			}
		}
	}
	// Features
	.features {
		.features__container {
			padding: 42px 57px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.features__servises {
				display: flex;
				align-items: center;

				p {
					margin-left: 22px;
				}
			}
		}
	}

	// Cloe
	.cloe {
		.cloe__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.cloe__text-block {
				margin-left: 20px;
				text-align: right;
				@media (max-width: 768px) {
					text-align: center;
					margin-left: 50%;
					transform: translate(-50%);
					margin-bottom: -50px;
				}

				.cloe__title {
					font-size: 33px;
					font-family: 'Roboto';
					font-weight: 700;
				}

				.cloe__subtitle {
					padding-bottom: 22px;
					font-family: 'Cardo';
					font-style: italic;
					font-weight: 400;
					font-size: 18px;

					span {
						padding-top: 22px;
						font-style: normal;
					}
				}

				.cloe__descreption {
					padding-bottom: 68px;
					font-size: 18px;
					font-weight: 400;
					font-family: 'Cardo';
					line-height: 31px;
					color: #525252;
				}

				.cloe__link a {
					font-size: 17px;
					font-family: 'Roboto';
					color: #000000;
					font-weight: 400;
					text-decoration: underline;
				}
			}

			img {
				padding-top: 115px;
				@media (max-width: 768px) {
					width: 600px;
					margin-left: 50%;
					transform: translate(-50%);
				}
			}
		}
	}

	// Pelican
	.pelican {
		.pelican__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			img {
				padding-top: 30px;
				@media (max-width: 768px) {
					width: 600px;
					margin-left: 50%;
					transform: translate(-50%);
				}
			}

			.pelican__text-block {
				margin-right: 34px;
				text-align: left;
				@media (max-width: 768px) {
					text-align: center;
					margin-left: 50%;
					transform: translate(-50%);
					margin-bottom: -50px;
				}

				.pelican__title {
					font-size: 33px;
					font-family: 'Roboto';
					font-weight: 700;
				}

				.pelican__subtitle {
					padding-bottom: 22px;
					font-family: 'Cardo';
					font-style: italic;
					font-weight: 400;
					font-size: 18px;

					span {
						padding-top: 22px;
						font-style: normal;
					}
				}

				.pelican__descreption {
					padding-bottom: 18px;
					font-size: 18px;
					font-weight: 400;
					font-family: 'Cardo';
					line-height: 31px;
					color: #525252;
				}

				.pelican__size {
					font-size: 16px;
					font-family: 'Cardo';
					color: #54595f;
					padding-bottom: 47px;
				}

				.pelican__link a {
					font-size: 17px;
					font-family: 'Roboto';
					color: #000000;
					font-weight: 400;
					text-decoration: underline;
				}
			}
		}
	}

	// Alada
	.alada {
		.alada__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.alada__text-block {
				padding-top: 100px;
				margin-left: 100px;
				text-align: right;
				@media (max-width: 768px) {
					text-align: center;
					margin-left: 50%;
					transform: translate(-50%);
					margin-bottom: -50px;
				}

				.alada__favorite {
					position: relative;
					font-size: 14px;
					font-weight: 500;
					font-family: 'Cardo';
					font-style: italic;
					color: #bc1414;
					@media (max-width: 768px) {
						.alada__favorite::before {
							position: absolute;
							content: ' hel';
							left: 0;
							top: 0;
							width: 100%;
							height: 2px;
							background: #000000;
						}
					}
				}

				.alada__title {
					font-size: 33px;
					font-family: 'Roboto';
					font-weight: 700;
				}

				.alada__subtitle {
					padding-bottom: 22px;
					font-family: 'Cardo';
					font-style: italic;
					font-weight: 400;
					font-size: 18px;

					span {
						padding-top: 22px;
						font-style: normal;
					}
				}

				.alada__descreption {
					padding-bottom: 28px;
					font-size: 18px;
					font-weight: 400;
					font-family: 'Cardo';
					line-height: 31px;
					color: #525252;
				}

				.alada__size {
					font-size: 16px;
					font-family: 'Cardo';
					color: #54595f;
					padding-bottom: 47px;
				}

				.alada__link a {
					font-size: 17px;
					font-family: 'Roboto';
					color: #000000;
					font-weight: 400;
					text-decoration: underline;
				}
			}

			img {
				padding-top: 115px;
				@media (max-width: 768px) {
					width: 600px;
					margin-left: 50%;
					transform: translate(-50%);
				}
			}
		}
	}

	// Alba
	.alba {
		.alba__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			img {
				padding-top: 30px;
				@media (max-width: 768px) {
					width: 600px;
					margin-left: 50%;
					transform: translate(-50%);
				}
			}

			.alba__text-block {
				padding-top: 30px;
				margin-right: 34px;
				text-align: left;
				@media (max-width: 768px) {
					text-align: center;
					margin-left: 50%;
					transform: translate(-50%);
					margin-bottom: -50px;
				}

				.alba__title {
					font-size: 33px;
					font-family: 'Roboto';
					font-weight: 700;
				}

				.alba__subtitle {
					padding-bottom: 10px;
					font-family: 'Cardo';
					font-style: italic;
					font-weight: 400;
					font-size: 18px;

					span {
						padding-top: 22px;
						font-style: normal;
					}
				}

				.alba__descreption {
					padding-bottom: 18px;
					font-size: 18px;
					font-weight: 400;
					font-family: 'Cardo';
					line-height: 31px;
					color: #525252;
				}

				.alba__size {
					font-size: 16px;
					font-family: 'Cardo';
					color: #54595f;
					padding-bottom: 47px;
				}

				.alba__link a {
					font-size: 17px;
					font-family: 'Roboto';
					color: #000000;
					font-weight: 400;
					text-decoration: underline;
				}
				img {
					@media (max-width: 768px) {
						display: none;
					}
				}
			}
		}
	}

	// Batea
	.batea {
		.batea__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.batea__text-block {
				padding-top: 100px;
				margin-left: 80px;
				text-align: right;
				@media (max-width: 768px) {
					text-align: center;
					margin-left: 50%;
					transform: translate(-50%);
					margin-bottom: -50px;
				}

				.batea__title {
					font-size: 33px;
					font-family: 'Roboto';
					font-weight: 700;
				}

				.batea__subtitle {
					padding-bottom: 22px;
					font-family: 'Cardo';
					font-style: italic;
					font-weight: 400;
					font-size: 18px;

					span {
						padding-top: 22px;
						font-style: normal;
					}
				}

				.batea__descreption {
					padding-bottom: 28px;
					font-size: 18px;
					font-weight: 400;
					font-family: 'Cardo';
					line-height: 31px;
					color: #525252;
				}

				.batea__size {
					font-size: 16px;
					font-family: 'Cardo';
					color: #54595f;
					padding-bottom: 47px;
				}

				.batea__link a {
					font-size: 17px;
					font-family: 'Roboto';
					color: #000000;
					font-weight: 400;
					text-decoration: underline;
				}
			}

			img {
				padding-top: 115px;
				@media (max-width: 768px) {
					width: 600px;
					margin-left: 50%;
					transform: translate(-50%);
				}
			}
		}
	}

	// Pieces
	.pices {
		.pices__container {
			.pices__text {
				text-align: center;

				.pieces__title {
					font-size: 30px;
					font-family: 'Cardo';
					font-weight: 700;
					color: #3a3a3a;
					padding-top: 41px;
				}

				.pieces__subtitle {
					font-size: 18px;
					font-family: 'Cardo';
					font-weight: 400;
					color: #000000;
					padding-top: 21px;
					padding-bottom: 36px;
				}
			}

			.pieces__image {
				display: flex;
				align-items: center;
				justify-content: center;
				@media (max-width: 768px) {
					img {
						width: 200px;
					}
				}
			}

			.pieces__btn-sliders {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: 20px;

				button {
					width: 10px;
					height: 10px;
					background: #000000;
					border: none;
					margin-right: 10px;
				}
			}
		}
	}

	// Descreption
	.descreption {
		.descreption__container {
			padding-top: 111px;

			.descreption__text {
				font-size: 20px;
				font-family: 'Cardo';
				font-style: italic;
				color: #020202;
				font-weight: 400;
				text-align: center;
			}

			.descreption__name {
				font-size: 15px;
				font-family: 'Cardo';
				color: #000000;
				text-align: center;
				padding-top: 37px;
			}
		}
	}

	// Tools
	.tools {
		.tools__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding-top: 58px;

			.tools__left {
				width: 360px;
				height: 370px;

				.tools__inner-block {
					text-align: center;
					padding: 54px 18px;

					h3 {
						font-size: 24px;
						font-family: 'Cardo';
						font-weight: 400;
						padding-top: 20px;
					}

					p {
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						padding-top: 12px;
					}

					span a {
						text-decoration: underline;
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						color: #000000;
						padding-top: 28px;
					}
				}
			}

			.tools__left-center {
				width: 360px;
				height: 370px;
				background: #f8f8f8;

				.tools__inner-block {
					text-align: center;
					padding: 54px 18px;

					h3 {
						font-size: 24px;
						font-family: 'Cardo';
						font-weight: 400;
					}

					p {
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						padding-top: 12px;
					}

					span a {
						text-decoration: underline;
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						color: #000000;
						padding-top: 28px;
					}
				}
			}

			.tools__right-center {
				width: 360px;
				height: 370px;

				.tools__inner-block {
					padding: 54px 18px;
					text-align: center;

					h3 {
						font-size: 24px;
						font-family: 'Cardo';
						font-weight: 400;
					}

					p {
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						padding-top: 13px;
					}

					span a {
						text-decoration: underline;
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						color: #000000;
						padding-top: 28px;
					}
				}
			}

			.tools__right {
				width: 360px;
				height: 370px;
				background: #f8f8f8;

				.tools__inner-block {
					padding: 54px 18px;
					text-align: center;

					h3 {
						font-size: 24px;
						font-family: 'Cardo';
						font-weight: 400;
					}

					p {
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						padding-top: 10px;
					}

					span a {
						text-decoration: underline;
						font-size: 15px;
						font-family: 'Cardo';
						font-weight: 400;
						color: #000000;
						padding-top: 28px;
					}
				}
			}
		}
	}

	// Sponsor
	.sponsor {
		.sponsor__container {
			padding-bottom: 73px;
			p {
				text-align: center;
				padding-top: 128px;
				font-size: 20px;
				color: #454545;
				letter-spacing: 0.3px;
				font-family: 'Cardo';
				padding-bottom: 41px;
			}

			img {
				display: flex;
				align-items: center;
				@media (max-width: 768px) {
					display: none;
				}
			}
		}
	}

	// Footer
	.footer {
		background: #e3e9ee;
		.footer__container {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 40px 140px;
			@media (max-width: 768px) {
				margin-left: -100px;
			}

			.footer__about-block {
				nav {
					text-align: center;

					ul {
						h2 {
							padding-bottom: 42px;
							font-size: 21px;
							font-weight: 400;
							font-family: 'Cardo';
						}

						li a {
							font-size: 15px;
							font-family: 'Cardo';
							font-weight: 400;
							color: #000000;
							margin-bottom: 13px;
						}
						li {
							margin-bottom: 13px;
						}
					}
				}
			}

			.footer__help-block {
				nav {
					text-align: center;

					ul {
						h2 {
							padding-bottom: 42px;
						}

						li a {
							font-size: 15px;
							font-family: 'Cardo';
							font-weight: 400;
							color: #000000;
							margin-bottom: 13px;
						}
						li {
							margin-bottom: 13px;
						}
					}
				}
			}

			.footer__more-block {
				nav {
					text-align: center;

					ul {
						h2 {
							padding-bottom: 42px;
						}

						li a {
							font-size: 15px;
							font-family: 'Cardo';
							font-weight: 400;
							color: #000000;
						}
						li {
							margin-bottom: 13px;
						}
					}
				}
			}

			.footer__right-block {
				h4 {
					font-size: 15px;
					font-family: 'Cardo';
					font-weight: 400;
				}

				button {
					margin-left: 15px;
					width: 237px;
					height: 25px;
					background: #ffffff;
					border: 1px solid #000000;
					font-size: 15px;
					font-family: 'Cardo';
					font-weight: 400;
					margin-bottom: 37px;
				}

				img:nth-child(1) {
					margin-right: 30px;
					margin-left: -20px;
				}

				.footer__icons {
					text-align: center;

					.footer__icon-star {
						display: flex;
						flex-direction: column-reverse;
						margin-left: 45px;
						margin-top: 27px;
					}
				}
			}
		}

		.footer__end {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			padding: 50px 150px 61px 190px;
			@media (max-width: 768px) {
				margin-left: -100px;
			}
		}
	}
}
