body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
li,
ol {
  list-style-type: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper .header .nav-title {
  font-size: 40px;
  font-family: "Cardo";
}
.wrapper .header .nav-moscow {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-size: 16px;
}
.wrapper .header .nav-shop {
  margin-right: 724px;
  display: flex;
  align-items: center;
}
.wrapper .header .nav-shop img {
  margin-right: 10px;
}
.wrapper .header .nav-more {
  font-size: 12px;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  color: #000000;
}
.wrapper .header .nav-form {
  margin-right: 171px;
}
.wrapper .header .nav-search {
  width: 600px;
  outline: none;
}
.wrapper .header .nav-icons {
  margin-left: 40px;
}
.wrapper .header .nav-icons .nav-icons__flex {
  text-align: center;
  margin-right: 42px;
  cursor: pointer;
  transition: 0.3s ease;
}
.wrapper .header .nav-icons .nav-icons__flex p {
  text-align: center;
  font-size: 14px;
}
.wrapper .header .nav-icons .nav-icons__flex img {
  fill: #000;
  transition: 0.3s ease;
}
.wrapper .header .nav-icons .nav-icons__flex img:hover {
  fill: #bc1414;
}
.wrapper .header .nav-icons .nav-icons__flex:hover {
  color: #bc1414;
}
.wrapper .header .dropdown:hover .dropdown-menu {
  display: block;
}
.wrapper .header .dropdown-menu {
  margin-top: 0;
}
.wrapper .banner {
  background-image: url(../Images/IMAGE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 698px;
  position: relative;
}
@media (max-width: 768px) {
  .wrapper .banner {
    background-size: contain;
    background-position: center;
    margin-top: -150px;
    margin-bottom: -150px;
  }
}
.wrapper .banner .banner__container {
  padding: 257px 317px 364px 316px;
}
.wrapper .banner .banner__container .banner__title {
  text-align: center;
  font-size: 27px;
  font-family: "Roboto";
  color: white;
  letter-spacing: 0.2px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .wrapper .banner .banner__container .banner__title {
    font-size: 18px;
    margin-top: -40px;
  }
}
.wrapper .banner .banner__container .banner__button {
  margin-left: 50%;
  transform: translate(-50%);
  width: 204px;
  height: 33px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 0px;
  transition: 0.3s ease-in-out;
}
.wrapper .banner .banner__container .banner__button a {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Cardo";
}
.wrapper .banner .banner__container .banner__button a:hover {
  color: #000;
}
.wrapper .banner .banner__container .banner__button:hover {
  background-color: #fff;
}
.wrapper .banner .banner__quetion-block {
  position: absolute;
  top: 92.5%;
  left: 20px;
  width: 324px;
  height: 50px;
  background: #050505;
  border-radius: 1px 1px 0px 0px;
}
@media (max-width: 768px) {
  .wrapper .banner .banner__quetion-block {
    display: none;
  }
}
.wrapper .banner .banner__quetion-block .banner__quetion-text {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  font-family: "Palatino Linotype";
}
.wrapper .galery .galery__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 768px) {
  .wrapper .galery .galery__container {
    text-align: center;
    margin-left: 6px;
  }
}
.wrapper .discount {
  margin-top: 50px;
}
.wrapper .discount .discount-container .discount-body {
  position: relative;
  margin-left: 70px;
}
.wrapper .discount .discount-container .discount-body .discount-img__before::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  width: 600px;
  height: 396px;
  background-color: #000000;
  z-index: 100;
  opacity: 0.6;
}
.wrapper .discount .discount-container .discount-body .discount-text1 {
  position: absolute;
  left: 120px;
  top: 55px;
  text-align: center;
  z-index: 1001;
}
.wrapper .discount .discount-container .discount-body .discount-text1 h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
}
.wrapper .discount .discount-container .discount-body .discount-text1 h4 span {
  font-size: 5rem;
  color: red;
}
.wrapper .discount .discount-container .discount-body .discount-text1 p {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 26px;
}
.wrapper .discount .discount-container .discount-body .discount-text1 p span {
  color: red;
  font-size: 4rem;
}
.wrapper .discount .discount-container .discount-body__right {
  position: relative;
  margin-left: 100px;
}
.wrapper .discount .discount-container .discount-body__right .discount-img__after::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  width: 600px;
  height: 396px;
  background-color: #000000;
  z-index: 100;
  opacity: 0.7;
}
.wrapper .discount .discount-container .discount-body__right .discount-text {
  position: absolute;
  left: 35px;
  top: 55px;
  z-index: 1001;
  text-align: center;
}
.wrapper .discount .discount-container .discount-body__right .discount-text .discount-button__top {
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
}
.wrapper .discount .discount-container .discount-body__right .discount-text p {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 40px;
}
.wrapper .discount .discount-container .discount-body__right .discount-text .discount-button__bottom {
  background-color: #ffffff;
  border: none;
  width: 300px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper .features .features__container {
  padding: 42px 57px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .features .features__container .features__servises {
  display: flex;
  align-items: center;
}
.wrapper .features .features__container .features__servises p {
  margin-left: 22px;
}
.wrapper .cloe .cloe__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .cloe .cloe__container .cloe__text-block {
  margin-left: 20px;
  text-align: right;
}
@media (max-width: 768px) {
  .wrapper .cloe .cloe__container .cloe__text-block {
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -50px;
  }
}
.wrapper .cloe .cloe__container .cloe__text-block .cloe__title {
  font-size: 33px;
  font-family: "Roboto";
  font-weight: 700;
}
.wrapper .cloe .cloe__container .cloe__text-block .cloe__subtitle {
  padding-bottom: 22px;
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.wrapper .cloe .cloe__container .cloe__text-block .cloe__subtitle span {
  padding-top: 22px;
  font-style: normal;
}
.wrapper .cloe .cloe__container .cloe__text-block .cloe__descreption {
  padding-bottom: 68px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Cardo";
  line-height: 31px;
  color: #525252;
}
.wrapper .cloe .cloe__container .cloe__text-block .cloe__link a {
  font-size: 17px;
  font-family: "Roboto";
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}
.wrapper .cloe .cloe__container img {
  padding-top: 115px;
}
@media (max-width: 768px) {
  .wrapper .cloe .cloe__container img {
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
.wrapper .pelican .pelican__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .pelican .pelican__container img {
  padding-top: 30px;
}
@media (max-width: 768px) {
  .wrapper .pelican .pelican__container img {
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
.wrapper .pelican .pelican__container .pelican__text-block {
  margin-right: 34px;
  text-align: left;
}
@media (max-width: 768px) {
  .wrapper .pelican .pelican__container .pelican__text-block {
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -50px;
  }
}
.wrapper .pelican .pelican__container .pelican__text-block .pelican__title {
  font-size: 33px;
  font-family: "Roboto";
  font-weight: 700;
}
.wrapper .pelican .pelican__container .pelican__text-block .pelican__subtitle {
  padding-bottom: 22px;
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.wrapper .pelican .pelican__container .pelican__text-block .pelican__subtitle span {
  padding-top: 22px;
  font-style: normal;
}
.wrapper .pelican .pelican__container .pelican__text-block .pelican__descreption {
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Cardo";
  line-height: 31px;
  color: #525252;
}
.wrapper .pelican .pelican__container .pelican__text-block .pelican__size {
  font-size: 16px;
  font-family: "Cardo";
  color: #54595f;
  padding-bottom: 47px;
}
.wrapper .pelican .pelican__container .pelican__text-block .pelican__link a {
  font-size: 17px;
  font-family: "Roboto";
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}
.wrapper .alada .alada__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .alada .alada__container .alada__text-block {
  padding-top: 100px;
  margin-left: 100px;
  text-align: right;
}
@media (max-width: 768px) {
  .wrapper .alada .alada__container .alada__text-block {
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -50px;
  }
}
.wrapper .alada .alada__container .alada__text-block .alada__favorite {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  font-family: "Cardo";
  font-style: italic;
  color: #bc1414;
}
@media (max-width: 768px) {
  .wrapper .alada .alada__container .alada__text-block .alada__favorite .alada__favorite::before {
    position: absolute;
    content: " hel";
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #000000;
  }
}
.wrapper .alada .alada__container .alada__text-block .alada__title {
  font-size: 33px;
  font-family: "Roboto";
  font-weight: 700;
}
.wrapper .alada .alada__container .alada__text-block .alada__subtitle {
  padding-bottom: 22px;
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.wrapper .alada .alada__container .alada__text-block .alada__subtitle span {
  padding-top: 22px;
  font-style: normal;
}
.wrapper .alada .alada__container .alada__text-block .alada__descreption {
  padding-bottom: 28px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Cardo";
  line-height: 31px;
  color: #525252;
}
.wrapper .alada .alada__container .alada__text-block .alada__size {
  font-size: 16px;
  font-family: "Cardo";
  color: #54595f;
  padding-bottom: 47px;
}
.wrapper .alada .alada__container .alada__text-block .alada__link a {
  font-size: 17px;
  font-family: "Roboto";
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}
.wrapper .alada .alada__container img {
  padding-top: 115px;
}
@media (max-width: 768px) {
  .wrapper .alada .alada__container img {
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
.wrapper .alba .alba__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .alba .alba__container img {
  padding-top: 30px;
}
@media (max-width: 768px) {
  .wrapper .alba .alba__container img {
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
.wrapper .alba .alba__container .alba__text-block {
  padding-top: 30px;
  margin-right: 34px;
  text-align: left;
}
@media (max-width: 768px) {
  .wrapper .alba .alba__container .alba__text-block {
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -50px;
  }
}
.wrapper .alba .alba__container .alba__text-block .alba__title {
  font-size: 33px;
  font-family: "Roboto";
  font-weight: 700;
}
.wrapper .alba .alba__container .alba__text-block .alba__subtitle {
  padding-bottom: 10px;
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.wrapper .alba .alba__container .alba__text-block .alba__subtitle span {
  padding-top: 22px;
  font-style: normal;
}
.wrapper .alba .alba__container .alba__text-block .alba__descreption {
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Cardo";
  line-height: 31px;
  color: #525252;
}
.wrapper .alba .alba__container .alba__text-block .alba__size {
  font-size: 16px;
  font-family: "Cardo";
  color: #54595f;
  padding-bottom: 47px;
}
.wrapper .alba .alba__container .alba__text-block .alba__link a {
  font-size: 17px;
  font-family: "Roboto";
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .wrapper .alba .alba__container .alba__text-block img {
    display: none;
  }
}
.wrapper .batea .batea__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .batea .batea__container .batea__text-block {
  padding-top: 100px;
  margin-left: 80px;
  text-align: right;
}
@media (max-width: 768px) {
  .wrapper .batea .batea__container .batea__text-block {
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: -50px;
  }
}
.wrapper .batea .batea__container .batea__text-block .batea__title {
  font-size: 33px;
  font-family: "Roboto";
  font-weight: 700;
}
.wrapper .batea .batea__container .batea__text-block .batea__subtitle {
  padding-bottom: 22px;
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.wrapper .batea .batea__container .batea__text-block .batea__subtitle span {
  padding-top: 22px;
  font-style: normal;
}
.wrapper .batea .batea__container .batea__text-block .batea__descreption {
  padding-bottom: 28px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Cardo";
  line-height: 31px;
  color: #525252;
}
.wrapper .batea .batea__container .batea__text-block .batea__size {
  font-size: 16px;
  font-family: "Cardo";
  color: #54595f;
  padding-bottom: 47px;
}
.wrapper .batea .batea__container .batea__text-block .batea__link a {
  font-size: 17px;
  font-family: "Roboto";
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}
.wrapper .batea .batea__container img {
  padding-top: 115px;
}
@media (max-width: 768px) {
  .wrapper .batea .batea__container img {
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
.wrapper .pices .pices__container .pices__text {
  text-align: center;
}
.wrapper .pices .pices__container .pices__text .pieces__title {
  font-size: 30px;
  font-family: "Cardo";
  font-weight: 700;
  color: #3a3a3a;
  padding-top: 41px;
}
.wrapper .pices .pices__container .pices__text .pieces__subtitle {
  font-size: 18px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  padding-top: 21px;
  padding-bottom: 36px;
}
.wrapper .pices .pices__container .pieces__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .wrapper .pices .pices__container .pieces__image img {
    width: 200px;
  }
}
.wrapper .pices .pices__container .pieces__btn-sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.wrapper .pices .pices__container .pieces__btn-sliders button {
  width: 10px;
  height: 10px;
  background: #000000;
  border: none;
  margin-right: 10px;
}
.wrapper .descreption .descreption__container {
  padding-top: 111px;
}
.wrapper .descreption .descreption__container .descreption__text {
  font-size: 20px;
  font-family: "Cardo";
  font-style: italic;
  color: #020202;
  font-weight: 400;
  text-align: center;
}
.wrapper .descreption .descreption__container .descreption__name {
  font-size: 15px;
  font-family: "Cardo";
  color: #000000;
  text-align: center;
  padding-top: 37px;
}
.wrapper .tools .tools__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 58px;
}
.wrapper .tools .tools__container .tools__left {
  width: 360px;
  height: 370px;
}
.wrapper .tools .tools__container .tools__left .tools__inner-block {
  text-align: center;
  padding: 54px 18px;
}
.wrapper .tools .tools__container .tools__left .tools__inner-block h3 {
  font-size: 24px;
  font-family: "Cardo";
  font-weight: 400;
  padding-top: 20px;
}
.wrapper .tools .tools__container .tools__left .tools__inner-block p {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  padding-top: 12px;
}
.wrapper .tools .tools__container .tools__left .tools__inner-block span a {
  text-decoration: underline;
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  padding-top: 28px;
}
.wrapper .tools .tools__container .tools__left-center {
  width: 360px;
  height: 370px;
  background: #f8f8f8;
}
.wrapper .tools .tools__container .tools__left-center .tools__inner-block {
  text-align: center;
  padding: 54px 18px;
}
.wrapper .tools .tools__container .tools__left-center .tools__inner-block h3 {
  font-size: 24px;
  font-family: "Cardo";
  font-weight: 400;
}
.wrapper .tools .tools__container .tools__left-center .tools__inner-block p {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  padding-top: 12px;
}
.wrapper .tools .tools__container .tools__left-center .tools__inner-block span a {
  text-decoration: underline;
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  padding-top: 28px;
}
.wrapper .tools .tools__container .tools__right-center {
  width: 360px;
  height: 370px;
}
.wrapper .tools .tools__container .tools__right-center .tools__inner-block {
  padding: 54px 18px;
  text-align: center;
}
.wrapper .tools .tools__container .tools__right-center .tools__inner-block h3 {
  font-size: 24px;
  font-family: "Cardo";
  font-weight: 400;
}
.wrapper .tools .tools__container .tools__right-center .tools__inner-block p {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  padding-top: 13px;
}
.wrapper .tools .tools__container .tools__right-center .tools__inner-block span a {
  text-decoration: underline;
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  padding-top: 28px;
}
.wrapper .tools .tools__container .tools__right {
  width: 360px;
  height: 370px;
  background: #f8f8f8;
}
.wrapper .tools .tools__container .tools__right .tools__inner-block {
  padding: 54px 18px;
  text-align: center;
}
.wrapper .tools .tools__container .tools__right .tools__inner-block h3 {
  font-size: 24px;
  font-family: "Cardo";
  font-weight: 400;
}
.wrapper .tools .tools__container .tools__right .tools__inner-block p {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  padding-top: 10px;
}
.wrapper .tools .tools__container .tools__right .tools__inner-block span a {
  text-decoration: underline;
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  padding-top: 28px;
}
.wrapper .sponsor .sponsor__container {
  padding-bottom: 73px;
}
.wrapper .sponsor .sponsor__container p {
  text-align: center;
  padding-top: 128px;
  font-size: 20px;
  color: #454545;
  letter-spacing: 0.3px;
  font-family: "Cardo";
  padding-bottom: 41px;
}
.wrapper .sponsor .sponsor__container img {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .wrapper .sponsor .sponsor__container img {
    display: none;
  }
}
.wrapper .footer {
  background: #e3e9ee;
}
.wrapper .footer .footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 140px;
}
@media (max-width: 768px) {
  .wrapper .footer .footer__container {
    margin-left: -100px;
  }
}
.wrapper .footer .footer__container .footer__about-block nav {
  text-align: center;
}
.wrapper .footer .footer__container .footer__about-block nav ul h2 {
  padding-bottom: 42px;
  font-size: 21px;
  font-weight: 400;
  font-family: "Cardo";
}
.wrapper .footer .footer__container .footer__about-block nav ul li a {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__about-block nav ul li {
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__help-block nav {
  text-align: center;
}
.wrapper .footer .footer__container .footer__help-block nav ul h2 {
  padding-bottom: 42px;
}
.wrapper .footer .footer__container .footer__help-block nav ul li a {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__help-block nav ul li {
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__more-block nav {
  text-align: center;
}
.wrapper .footer .footer__container .footer__more-block nav ul h2 {
  padding-bottom: 42px;
}
.wrapper .footer .footer__container .footer__more-block nav ul li a {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
}
.wrapper .footer .footer__container .footer__more-block nav ul li {
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__right-block h4 {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
}
.wrapper .footer .footer__container .footer__right-block button {
  margin-left: 15px;
  width: 237px;
  height: 25px;
  background: #ffffff;
  border: 1px solid #000000;
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  margin-bottom: 37px;
}
.wrapper .footer .footer__container .footer__right-block img:nth-child(1) {
  margin-right: 30px;
  margin-left: -20px;
}
.wrapper .footer .footer__container .footer__right-block .footer__icons {
  text-align: center;
}
.wrapper .footer .footer__container .footer__right-block .footer__icons .footer__icon-star {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 45px;
  margin-top: 27px;
}
.wrapper .footer .footer__end {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 150px 61px 190px;
}
@media (max-width: 768px) {
  .wrapper .footer .footer__end {
    margin-left: -100px;
  }
}/*# sourceMappingURL=index.css.map */