a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style-type: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper .navbar__header {
  margin: 10px 0 30px 0;
}
.wrapper .navbar__header .navbar-dark .navbar-nav .nav-link {
  color: red;
}
.wrapper .navbar__header .navbar__item {
  font-family: "Cardo";
  font-size: 17px;
  padding: 0 30px 0 20px;
  margin-right: 30px;
}
.wrapper .navbar__header .navbar__item-home {
  margin-left: 120px;
}
.wrapper .banner__menu .banner__menu-container img {
  background-size: cover;
  background-position: center;
  width: 100%;
}
.wrapper .footer {
  background: #e3e9ee;
}
.wrapper .footer .footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 140px;
}
@media (max-width: 768px) {
  .wrapper .footer .footer__container {
    margin-left: -100px;
  }
}
.wrapper .footer .footer__container .footer__about-block nav {
  text-align: center;
}
.wrapper .footer .footer__container .footer__about-block nav ul .footer-title {
  padding-bottom: 42px;
  font-size: 21px;
  font-weight: 400;
  font-family: "Cardo";
}
.wrapper .footer .footer__container .footer__about-block nav ul li a {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  margin-bottom: 13px;
  text-decoration: none;
}
.wrapper .footer .footer__container .footer__about-block nav ul li {
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__help-block nav {
  text-align: center;
}
.wrapper .footer .footer__container .footer__help-block nav ul .footer-title {
  padding-bottom: 42px;
  font-size: 21px;
  font-weight: 400;
  font-family: "Cardo";
}
.wrapper .footer .footer__container .footer__help-block nav ul li a {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  margin-bottom: 13px;
  text-decoration: none;
}
.wrapper .footer .footer__container .footer__help-block nav ul li {
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__more-block nav {
  text-align: center;
}
.wrapper .footer .footer__container .footer__more-block nav ul .footer-title {
  padding-bottom: 42px;
  font-size: 21px;
  font-weight: 400;
  font-family: "Cardo";
}
.wrapper .footer .footer__container .footer__more-block nav ul li a {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}
.wrapper .footer .footer__container .footer__more-block nav ul li {
  margin-bottom: 13px;
}
.wrapper .footer .footer__container .footer__right-block h4 {
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  padding-bottom: 17px;
}
.wrapper .footer .footer__container .footer__right-block button {
  margin-left: 15px;
  width: 237px;
  height: 25px;
  background: #FFFFFF;
  border: 1px solid #000000;
  font-size: 15px;
  font-family: "Cardo";
  font-weight: 400;
  margin-bottom: 37px;
}
.wrapper .footer .footer__container .footer__right-block img:nth-child(1) {
  margin-right: 30px;
  margin-left: -20px;
}
.wrapper .footer .footer__container .footer__right-block .footer__icons {
  text-align: center;
}
.wrapper .footer .footer__container .footer__right-block .footer__icons .footer__icon-star {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 45px;
  margin-top: 27px;
}
.wrapper .footer .footer__end {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 150px 61px 190px;
}
@media (max-width: 768px) {
  .wrapper .footer .footer__end {
    margin-left: -100px;
  }
}/*# sourceMappingURL=menu.css.map */